@import "utilities";
@import "footer";
@import "navbar";


.cocktail {
  background: #F5F7FA;
  opacity: 0.9;
  margin: 8px;
  padding-left: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

}
